@model ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Formulario</h2>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2>Usuario</h2> 
            <h5>Ingrese los datos del usuario:</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="hidden">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.IdUsuario)
                    @Html.TextBoxFor(model => model.IdUsuario, new { @class = "form-control", @id = "txtIdUsuario" })
                    @Html.ValidationMessageFor(model => model.IdUsuario)
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @onkeypress = "return SoloLetras(event, 'lblErrorNombre')" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                    <label id="lblErrorNombre"></label>
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.ApellidoPaterno)
                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno", @onkeypress = "return SoloLetras(event, 'lblErrorApellidoPaterno')" })
                    @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                    <label id="lblErrorApellidoPaterno"></label>
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.ApellidoMaterno)
                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno", @onkeypress = "return SoloLetras(event, 'lblErrorApellidoMaterno')" })
                    @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                    <label id="lblErrorApellidoMaterno"></label>

                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.Password)
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "txtPassword", @onblur = "return ValidacionPassword(event, 'lblErrorPassword')" })
                    @Html.ValidationMessageFor(model => model.Password)
                    <label id="lblErrorPassword"></label>
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.UserName)
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "txtUserName" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    <br>
                    @Html.LabelFor(model => model.Sexo)
                    @Html.RadioButtonFor(model => model.Sexo, "F", new { @id = "rbtnSexo" })
                    @Html.Label("Femenino")
                    @Html.RadioButtonFor(model => model.Sexo, "M", new { @id = "rbtnSexo" })
                    @Html.Label("Masculino")
                    @Html.ValidationMessageFor(model => model.Sexo)
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.Telefono)
                    @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @id = "txtTelefono", @onkeypress = "return SoloNumeros(event, 'lblErrorTelefono')" })
                    @Html.ValidationMessageFor(model => model.Telefono)
                    <label id="lblErrorTelefono"></label>
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Regresar", "Getall", "Usuario", htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function SoloLetras(e, controlId) {
        var caracter = e.key;
        if (!/^[a-zA-ZÀ-ÿ\u00f1\u00d1]*$/g.test(caracter)) {
            $('#' + controlId).text("Solo se aceptan letras");
            $('#' + controlId).css({ "color": "red" });
            return false;
        }
        else {
            $('#' + controlId).text("");
            return true;
        }
    }
    function SoloNumeros(e, controlId) {
        var caracter = e.key;
        if (!/^[0-9]/g.test(caracter)) {
            $('#' + controlId).text("Solo se aceptan numeros");
            $('#' + controlId).css({ "color": "red" });
            return false;
        }
        else {
            $('#' + controlId).text("");
            return true;
        }
    }
    function ValidacionPassword(e, controlId) {

        var myregex = /^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$/;
        if (myregex.test($('#txtPassword').val().trim())) {
            $('#lblErrorPassword').text("Password correcto");
            $('#lblErrorPassword').css({ "color": "green" });

        }
        else {
            $('#lblErrorPassword').text("Ingrese un password valido(1 mayuscula, 1 caracter, 1 numero, 1 minuscula)");
            $('#lblErrorPassword').css({ "color": "red" });


        }
    }
</script>