@model ML.Producto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formulario</h2>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2>Producto</h2>
            <h5>Ingrese los datos del producto:</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="hidden">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.IdProducto)
                    @Html.TextBoxFor(model => model.IdProducto, new { @class = "form-control", @id = "txtIdProducto" })
                    @Html.ValidationMessageFor(model => model.IdProducto)
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.Precio)
                    @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", @id = "txtPrecio" })
                    @Html.ValidationMessageFor(model => model.Precio)
                </div>
            </div>
            <div class="col">
                <div class="col-md-4 col-12 col-sm-6">
                    @Html.LabelFor(model => model.Descripcion)
                    @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", @id = "txtDescripcion" })
                    @Html.ValidationMessageFor(model => model.Descripcion)
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Imagen)
                <input type="file" name="ImagenData" onchange="readURL(this)" />
                @if (Model.Imagen != null)
                {
                    <img id="ImagenPreview" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Imagen)" width=" 100" height="100" />
                }
                else
                {
                    <img id="ImagenPreview" src="~/wwwroot/Imagen/Producto.jpg" height=100 width=100 />
                }
                @Html.ValidationMessageFor(model => model.Imagen, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <br>
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Regresar", "Getall", "Producto", htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>
